*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif; ;
    background-color: darkslategray;
}

div{
    font-size: 1rem;
    display: flexbox;
    text-align: center;
    margin: 50% 10px 10%;
    padding: 35px ;
    /* Estilo */
    background-color: rgb(199, 221, 240);
    border: 5px solid darkgreen;
    border-radius: 10px;
    transition: 1.3s ease all;
}

div h2{
    margin-bottom: 20px;
    color: darkgreen;
    transition: 3s ease all ;    
}

form{
    display: inline;
}

button{
    background-color: green;
    color: greenyellow;
    padding: 12px;
    border: 2px solid rgb(4, 85, 4);
    border-radius: 12px;
    font-size: 1rem;
}

button:hover{
    background-color: darkgreen;
}

p{
    margin-left: calc(50% - 55px);
    font-size: .9rem;
    margin-top: 10px;
}

footer form{
    margin-left: calc(50% - 60px);
}

@media screen and (min-width:720px) {
    
div{
    margin: calc(50% - 300px);
    margin-bottom: 25px;
}

}