*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif; ;
    background-color: rgb(82, 47, 3);
}

div{
    font-size: 1rem;
    display: flexbox;
    text-align: center;
    margin: 50% 10px 10%;
    padding: 35px ;
    /* Estilo */
    background-color: rgb(165, 14, 9);
    border: 5px solid darkred;
    border-radius: 10px;
    transition: 1.3s ease all;
}

div h2{
    margin-bottom: 20px;
    color: rgb(88, 5, 5);
    transition: 3s ease all ;    
}

form{
    display: inline;
}

button{
    background-color: rgb(148, 84, 6);
    color: rgb(3, 0, 0);
    padding: 12px;
    border: 2px solid red;
    border-radius: 12px;
    font-size: 1rem;
}

button:hover{
    background-color: rgb(97, 56, 5);
}

p{
    margin-left: calc(50% - 55px);
    font-size: .9rem;
    margin-top: 10px;
}

footer form{
    margin-left: calc(50% - 60px);
}

@media screen and (min-width:720px) {
    
div{
    margin: calc(50% - 300px);
    margin-bottom: 25px;
}

}